@use '../../../base/styles/general';

/* HOJA DE RECURSOS */


/* Oculto buscador avanzado y el boton añadir entrada - con edición desactivada */

.cmid-2975751:not(.editing) {
    div[role="main"] {
        hr {
            display: none;
        }
        .datapreferences {
            #sticky-footer {
                .navitem {
                    a {
                        display: none;
                    }
                }
            }
            hr {
                display: none;
            }
            form#options {
                display: none;
            }
        }
    }
}


/* Le pongo los estilos con mixin */

.cmid-2975751 {
    @include general.hoja-recursos;
}


/* ---------------------------- */


/* BASE DE DATOS: ESPACIO DE TRABAJO - CITAR CANCIONES - EMBARQUE */

.cmid-2974749, .cmid-2980020, .cmid-2980021 {
    @include general.bbdd-2col;
}


/* ---------------------------- */


/* FICHA TECNICA DE MESSI CON HEAD Y DOS COLUMNAS PARA ACTIVIDAD - CONEXIONES INESPERADAS - EMBARQUE */

.ficha {
    border: 1px solid general.$grey2;
    width: 100%;
    background-color: general.$grey1;
    margin-bottom: 2rem;
    .ficha-head {
        padding: general.$p-base;
        text-align: center;
    }
    .ficha-body {
        display: flex;
        border-top: 1px solid general.$grey2;
        .columna {
            flex: 1;
            padding: general.$p-md;
            border-right: 1px solid general.$grey2;
            text-align: center;
        }
        .columna:last-child {
            border-right: none;
        }
    }
}