// COLORES

$primary: #152F4E;
$secondary: #7BC5B6;
$accent: #FFD658;
$grey1: #F0F0F0;
$grey2: #B4C1CE;
$grey3: #8394A6;

// TAMAÑOS DE FUENTE

$fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
$fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
$fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
$fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
$fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
$fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
$fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);


@mixin title {
  font-family: 'Roboto' !important;
  font-size: $fs-lg !important;
  color: $primary !important;
  font-weight: 500 !important;
}

@mixin subtitle {
  font-family: 'Roboto' !important;
  font-size: $fs-md !important;
  color: $primary !important;
  font-weight: 500 !important;
}

@mixin body {
  font-family: 'Roboto' !important;
  font-size: $fs-base !important;
  color: $primary !important;
  font-weight: 400 !important;
}


/* HOME */

body.home {
  #page-content {
    #region-main-box {
      #region-main {
        div[role="main"] {
          .course-content {
            ul.topics {
              li#section-0 {
        
              }
              li.section {
                .course-section-header {
                  h3.sectionname {
                    a:first-of-type {
                      @include title;
                      text-transform: uppercase;
                    }
                  }        
                }
                .content {
                  .my-3 {
                    
                    .course-description-item.summarytext {
                      .description-inner {
                        .no-overflow {
                          margin-top: 0 !important;

                          h2 {
                            @include subtitle;
                            border: none !important;
                            background-color: transparent;
                            padding: 0 !important;
                          }
                          p.fecha {
                                                          
                          }
                        }
                      } 
                    }
                  }
                  ul.section {
                    display: none !important;                                      
                  }
                  .mdl-left.py-2.changenumsections {
                    a {
                      color: black;                                    
                    }                                      
                  }
                }
              }

              /* módulo completado */

              li.section.completo {
                background-color: $grey1;
                
                .course-section-header {
                  h3.sectionname {
                    a:first-of-type {
                                            
                    }
                  }
                }

                .content {
                  .my-3 {                    
                    .course-description-item.summarytext {
                      .description-inner {
                        .no-overflow {
                          h2 {
                                                   
                          }
                          p.fecha {
                                                     
                          }                          
                        }
                      } 
                    }
                  }
                  ul.section {                                                      
                  }
                  .mdl-left.py-2.changenumsections {
                    a {
                                                                          
                    }                                                    
                  }
                }
              }

              /* módulo incompleto */

              li.section.incompleto {
                background-color: white;
                border: 1px solid $grey2;
                
                .course-section-header {
                  h3.sectionname {
                    a:first-of-type {
                                            
                    }
                  }
                }

                .content {
                  .my-3 {                    
                    .course-description-item.summarytext {
                      .description-inner {
                        .no-overflow {
                          h2 {
                                                   
                          }
                          p.fecha {
                                                     
                          }                          
                        }
                      } 
                    }
                  }
                  ul.section {                                                      
                  }
                  .mdl-left.py-2.changenumsections {
                    a {
                                                                          
                    }                                                    
                  }
                }
              }

              /* módulo destacado / actual */

              li.section.current {
                background-color: $primary;
                &::before {
                  display: none !important;                                                    
                }
                .course-section-header {
                  h3.sectionname {
                    a:first-of-type {
                      color: white !important;                      
                    }
                  }
                }

                .content {
                  .my-3 {                    
                    .course-description-item.summarytext {
                      .description-inner {
                        .no-overflow {
                          h2 {
                            color: white !important;                          
                          }
                          p.fecha {
                            color: white !important;                          
                          }                          
                        }
                      } 
                    }
                  }
                  ul.section {                                                      
                  }
                  .mdl-left.py-2.changenumsections {
                    a {
                      color: white;                                                     
                    }                                                    
                  }
                }
              }

            }
          }
        }
      }
    }
  }
} 

/* GENERAL */

#page {
  #topofscroll {

    /* solapitas */  
    .drawer-toggles {
      .drawer-left-toggle {
        display: none !important;
      }      
      .drawer-right-toggle {
        .btn {
          background-color: $primary !important;
        }
      }      
    }

    /* header */
    header#page-header {
      .w-100 {
        .page-header-headings {
          h1.h2{
            @include body;
            border: none !important;
          }
        }
      }
    }

    /* navbar de administración del curso */
    .secondary-navigation.d-print-none {
      
    }

    /* contenido general */
    #page-content {
      #region-main-box {
        #region-main {
          div[role="main"] {
            .course-content {
              ul.topics {                
                li.section {
                  &::before {
                    display: none !important;                                                    
                  }
                  .course-section-header {
                    .sectionbadges {
                      display: none !important;                                                    
                    }
                  }
                  .content {
                    .my-3 {
                      padding: 0;
                      border: 0;
                      .course-description-item.summarytext {
                        .description-inner {
                          .no-overflow {              

                            
                          }
                        } 
                      }
                    }
                    ul.section {
                                                           
                    }
                  }
                }
                li#section-0 {
                  background-color: transparent;
                  .course-section-header {                    
                    display: none !important;                   
                  }
                  .content {
                    .my-3 {                      
                      .course-description-item.summarytext {
                        .description-inner {
                          .no-overflow {           
                            h1 {           
                              @include title;
                            
                            }
                            p {   
                              a {   
                                color: $primary;
                              
                              }
                            }
                            
                          }
                        } 
                      }
                    }
                    ul.section {
                                                           
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}







/* MÓDULOS */

.single-section {

  .section-navigation.navigationtitle.d-flex.justify-content-between {
    display: none !important;
}

  h3.sectionname {
    a:first-of-type {
      @include title;
    }
  }
}

/* ACTIVIDAD */




