// COLORES
$primary: #152F4E;
$secondary: #7BC5B6;
$accent: #FFD658;
$grey1: #F0F0F0;
$grey2: #B4C1CE;
$grey3: #8394A6;
// TAMAÑOS DE FUENTE
$fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
$fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
$fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
$fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
$fs-lg-xl: clamp(1.75rem, 1.28vi + 1.44rem, 2.46rem);
$fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
$fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
$fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
@mixin title {
    font-family: 'Roboto' !important;
    font-size: $fs-lg-xl !important;
    color: $primary !important;
    font-weight: 500 !important;
}

@mixin subtitle {
    font-family: 'Roboto' !important;
    font-size: $fs-md !important;
    color: $primary !important;
    font-weight: 500 !important;
}

@mixin body {
    font-family: 'Roboto' !important;
    font-size: $fs-base !important;
    color: $primary !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
}


/* NAVBAR DE ADMINISTRACION DEL CURSO */

.secondary-navigation.d-print-none {
    padding-bottom: 0 !important;
    //margin-top: 2rem;
    nav.moremenu.navigation.observed {
        padding: 0 0.5rem;
        border-bottom: 0;
        ul {
            li {
                margin-right: 10px;
                a.nav-link {
                    position: relative;
                    overflow: hidden; // Evita desbordamientos
                    padding: 0.5rem 1rem;
                    border-radius: 500px;
                    height: initial;
                    border-bottom: 0;
                    transition: color 0.3s ease-out;
                    z-index: 2; // Asegura que el texto esté por encima del círculo
                    &:hover {
                        border-bottom: 0;
                        color: $primary;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    // Efecto de círculo expansivo en hover
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        background-color: $grey2; // Color de hover
                        border-radius: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: transform 0.3s ease-out;
                        z-index: -1; // Mantiene el círculo detrás del texto
                    }
                    &:hover:before {
                        transform: translate(-50%, -50%) scale(20);
                    }
                    // Ajuste especial para el botón activo
                    &.active.active_tree_node {
                        background: $primary;
                        color: white;
                        &:hover {
                            //background-color: $grey2;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}


/* HOME */

body.home {
    #page-content {
        #region-main-box {
            #region-main {
                div[role="main"] {
                    .course-content {
                        ul.topics {
                            li#section-0 {
                                border-bottom: none;
                                .mdl-left.py-2.changenumsections {
                                    display: none;
                                }
                            }
                            li.section {
                                margin-bottom: 3rem;
                                border-radius: 0;
                                .course-section-header {
                                    h3.sectionname {
                                        a:first-of-type {
                                            @include title;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                                .content {
                                    .my-3 {
                                        .course-description-item.summarytext {
                                            .description-inner {
                                                .no-overflow {
                                                    margin-top: 0 !important;
                                                    h2 {
                                                        @include subtitle;
                                                        border: none !important;
                                                        background-color: transparent;
                                                        padding: 0 !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .section-summary-activities {
                                        span.activity-count {
                                            display: none;
                                        }
                                    }
                                    ul.section {
                                        display: none !important;
                                    }
                                    button.btn.btn-link.text-decoration-none.section-modchooser.section-modchooser-link.activity-add.d-flex.align-items-center.p-3.mb-3 {
                                        display: none !important;
                                    }
                                    .mdl-left.py-2.changenumsections {
                                        border-top: 0;
                                        a {
                                            color: black;
                                        }
                                    }
                                }
                            }
                            /* módulo completado */
                            li.section.completo {
                                background-color: $grey1;
                                .course-section-header {
                                    h3.sectionname {
                                        a:first-of-type {}
                                    }
                                }
                                .content {
                                    .my-3 {
                                        .course-description-item.summarytext {
                                            .description-inner {
                                                .no-overflow {
                                                    h2 {}
                                                    p.fecha {}
                                                }
                                            }
                                        }
                                    }
                                    ul.section {}
                                    .mdl-left.py-2.changenumsections {
                                        a {}
                                    }
                                }
                            }
                            /* módulo incompleto */
                            li.section.incompleto {
                                background-color: white;
                                border: 1px solid $grey2;
                                .course-section-header {
                                    h3.sectionname {
                                        a:first-of-type {}
                                    }
                                }
                                .content {
                                    .my-3 {
                                        .course-description-item.summarytext {
                                            .description-inner {
                                                .no-overflow {
                                                    h2 {}
                                                    p.fecha {}
                                                }
                                            }
                                        }
                                    }
                                    ul.section {}
                                    .mdl-left.py-2.changenumsections {
                                        a {}
                                    }
                                }
                            }
                            /* módulo destacado / actual */
                            li.section.current {
                                background-color: $primary;
                                &::before {
                                    display: none !important;
                                }
                                .course-section-header {
                                    h3.sectionname {
                                        a:first-of-type {
                                            color: white !important;
                                        }
                                    }
                                }
                                .content {
                                    .my-3 {
                                        .course-description-item.summarytext {
                                            .description-inner {
                                                .no-overflow {
                                                    h2 {
                                                        color: white !important;
                                                    }
                                                    p.fecha {
                                                        color: white !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul.section {}
                                    .mdl-left.py-2.changenumsections {
                                        a {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* HOME: EXCLUSIVO CON EDICIÓN ACTIVADA */

body.home.editing {
    li:not(#section-0).section {
        padding: 2rem !important;
    }
}


/* HOME: EXCLUSIVO CON EDICIÓN DESACTIVADA */

body.home:not(.editing) {
    li:not(#section-0).section {
        position: relative;
        overflow: hidden; // Evita que la animación se salga de la tarjeta
        min-height: 12rem;
        border-bottom: 0;
        padding: 0 !important;
        .course-section-header {
            position: absolute;
            width: 100%;
            height: 100%;
            h3.sectionname {
                position: absolute;
                width: 100%;
                height: 100%;
                //display: block;
                //z-index: 1000;
                a:first-of-type {
                    @include title;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3rem 1.5rem;
                    width: 100%;
                    height: 100%;
                    display: block;
                    z-index: 2;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px; // Tamaño inicial pequeño
                        height: 10px;
                        background-color: rgba(0, 0, 0, 0.15);
                        border-radius: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: transform 0.3s ease-out;
                        z-index: -1;
                    }
                    &:hover:before {
                        transform: translate(-50%, -50%) scale(110); // Crece uniformemente
                    }
                    @media (max-width: 576px) {
                        padding: 1.5rem 1.5rem;
                    }
                }
            }
        }
        .content {
            //padding-top: 50px !important;
            position: absolute;
            width: 100%;
            height: 100%;
            .my-3 {
                position: absolute;
                width: 100%;
                height: 100%;
                margin-top: 0 !important;
                .course-description-item.summarytext {
                    margin: 0 !important;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    .description-inner {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        .no-overflow {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            margin-top: 0 !important;
                            h2 {
                                @include subtitle;
                                border: none !important;
                                background-color: transparent;
                                padding: 0 !important;
                                position: absolute;
                                bottom: 3rem;
                                left: 1.5rem;
                                @media (max-width: 576px) {
                                    bottom: 6.5rem;
                                }
                            }
                            p.fecha {
                                position: absolute;
                                bottom: 4rem;
                                right: 1.5rem;
                                line-height: 130%;
                                text-align: right;
                                font-size: 18px;
                                color: #152F4E;
                                @media (max-width: 576px) {
                                    bottom: 1.5rem;
                                    left: 1.5rem;
                                    text-align: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* GENERAL - para elementos repetidos en home y modulos */

#page {
    /* #theme_boost-drawers-blocks {
        background-color: red;
        .drawerheader {
            .drawertoggle {
                background-color: $primary !important;
            }
        }
    } */
    #topofscroll {
        /* solapitas */
        .drawer-toggles {
            .drawer-left-toggle {
                display: none !important;
            }
            .drawer-right-toggle {
                .btn {
                    background-color: $primary !important;
                }
            }
        }
        /* header */
        header#page-header {
            .w-100 {
                display: none;
                .page-header-headings {
                    h1.h2 {
                        @include body;
                        border: none !important;
                    }
                }
            }
        }
        /* contenido general */
        #page-content {
            #region-main-box {
                #region-main {
                    div[role="main"] {
                        .course-content {
                            ul.topics {
                                li.section {
                                    &::before {
                                        display: none !important;
                                    }
                                    .course-section-header {
                                        .sectionbadges {
                                            display: none !important;
                                        }
                                    }
                                    .content {
                                        .my-3 {
                                            padding: 0;
                                            border: 0;
                                            .course-description-item.summarytext {
                                                .description-inner {
                                                    .no-overflow {}
                                                }
                                            }
                                        }
                                        ul.section {}
                                    }
                                }
                                li#section-0 {
                                    background-color: transparent;
                                    .course-section-header {
                                        h3 {
                                            display: none !important;
                                        }
                                    }
                                    .content {
                                        .my-3 {
                                            .course-description-item.summarytext {
                                                .description-inner {
                                                    .no-overflow {
                                                        h1 {
                                                            @include title;
                                                            @media (max-width: 576px) {
                                                                @include subtitle;
                                                            }
                                                        }
                                                        p {
                                                            a {
                                                                color: $primary;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        ul.section {}
                                    }
                                }
                            }
                            .single-section {
                                ul.topics {
                                    li.section {
                                        .content {}
                                    }
                                }
                                .section-navigation {
                                    a {
                                        color: $primary;
                                        text-transform: uppercase;
                                        &:hover {
                                            color: $grey3;
                                        }
                                        span {
                                            &:after {
                                                color: $primary;
                                            }
                                        }
                                    }
                                }
                                .section-navigation.mdl-bottom {
                                    border-top: 1px solid $grey2;
                                    margin-top: 8rem;
                                }
                            }
                        }
                    }
                    .activity-navigation {
                        border-top: 1px solid $grey2;
                        margin-top: 8rem;
                        .float-left {
                            a.btn-link {
                                color: $primary;
                                &:hover {
                                    color: $grey3;
                                }
                            }
                        }
                    }
                }
            }
        }
        p {
            @include body;
        }
        // subrayado
        .subrayado {
            position: relative;
            z-index: 2;
        }
        .subrayado::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0px;
            left: 0;
            background-color: #FFD658;
            z-index: -1;
            animation: animarSubrayado 1s linear forwards;
        }
        @keyframes animarSubrayado {
            0% {
                transform: scaleX(0);
                transform-origin: left;
            }
            100% {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}


/* MÓDULOS */

body:not(.home) {
    #page {
        #topofscroll {
            /* contenido general */
            #page-content {
                #region-main-box {
                    #region-main {
                        div[role="main"] {
                            .course-content {
                                ul.topics {
                                    li.section {
                                        .course-section-header {
                                            h3.sectionname {
                                                display: none;
                                            }
                                        }
                                        .content {
                                            .my-3 {
                                                .course-description-item.summarytext {
                                                    .description-inner {
                                                        .no-overflow {
                                                            h2,
                                                            p.fecha {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    li#section-0 {
                                        background-color: transparent;
                                        .course-section-header {
                                            h3 {
                                                display: none !important;
                                            }
                                            .section_action_menu {
                                                display: none !important;
                                            }
                                        }
                                        .content {
                                            .my-3 {
                                                .course-description-item.summarytext {
                                                    .description-inner {
                                                        .no-overflow {
                                                            h1 {
                                                                @include title;
                                                            }
                                                            p {
                                                                a.volver {
                                                                    color: $primary;
                                                                    &:hover {
                                                                        color: $grey3;
                                                                        text-decoration: none;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            button.btn.btn-link.text-decoration-none.section-modchooser.section-modchooser-link.activity-add.d-flex.align-items-center.p-3.mb-3 {
                                                display: none !important;
                                            }
                                        }
                                    }
                                }
                                .single-section {
                                    .section-navigation.navigationtitle.d-flex.justify-content-between {
                                        display: none !important;
                                    }
                                    ul.section {
                                        .hero {
                                            position: relative;
                                            min-height: 460px;
                                            @media (max-width: 576px) {
                                                margin-bottom: 3rem;
                                            }
                                            h1 {
                                                @include title;
                                                margin-bottom: 40px;
                                                z-index: 100;
                                            }
                                            a {
                                                color: $secondary;
                                            }
                                            p {
                                                @include body;
                                            }
                                            .col-textos {
                                                width: 50%;
                                                color: #152F4E;
                                                @media (max-width: 768px) {
                                                    width: 100%;
                                                }
                                                .card {
                                                    border: none;
                                                    background-color: transparent;
                                                }
                                                [role="button"] {
                                                    box-shadow: none;
                                                }
                                            }
                                            .img-modulos {
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                                width: 45%;
                                                @media (max-width: 768px) {
                                                    position: initial;
                                                    width: 100%;
                                                    img {
                                                        margin-top: 40px;
                                                    }
                                                }
                                            }
                                            .card-body {
                                                padding: 0;
                                            }
                                            .botonera {
                                                margin-top: 5rem;
                                                .btn-hero {
                                                    position: relative;
                                                    overflow: hidden; // Evita que el efecto se desborde
                                                    border: 1px solid $grey2;
                                                    border-radius: 500px;
                                                    padding: 10px 20px 10px 50px;
                                                    text-decoration: none !important;
                                                    color: $primary !important;
                                                    font-weight: 400;
                                                    display: inline-block;
                                                    margin-right: 20px;
                                                    margin-bottom: 20px;
                                                    transition: border-color 0.3s ease-out, color 0.3s ease-out;
                                                    span {
                                                        position: relative;
                                                        z-index: 2; // Mantiene el texto por encima del círculo
                                                        &:hover {
                                                            color: $primary;
                                                        }
                                                    }
                                                    &:after {
                                                        content: "";
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 20px; // Ajustar según el diseño
                                                        width: 20px; // Tamaño del icono
                                                        height: 20px;
                                                        background-size: contain;
                                                        background-repeat: no-repeat;
                                                        transform: translateY(-50%);
                                                        z-index: 2; // Se mantiene por encima del círculo
                                                    }
                                                    &:before {
                                                        content: "";
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        width: 10px;
                                                        height: 10px;
                                                        background-color: $secondary;
                                                        border-radius: 50%;
                                                        transform: translate(-50%, -50%) scale(0);
                                                        transition: transform 0.4s ease-out;
                                                        z-index: 1;
                                                    }
                                                    &:hover:before {
                                                        transform: translate(-50%, -50%) scale(30); // Hace crecer el círculo
                                                    }
                                                    &:hover {
                                                        border-color: $secondary;
                                                    }
                                                }
                                                .btn-vermas:after {
                                                    background-image: url(../../../base/img/icon_plus.svg);
                                                }
                                                .btn-ed:after {
                                                    background-image: url(../../../base/img/icon_chat.svg);
                                                }
                                                .btn-wp:after {
                                                    background-image: url(../../../base/img/icon-wp.svg);
                                                }
                                            }
                                        }
                                        .pent-sesion {
                                            padding-left: 70px;
                                            background-repeat: no-repeat;
                                            background-size: 50px;
                                            max-width: 800px;
                                            margin-top: 5rem;
                                            @media (max-width: 576px) {
                                                padding-left: 0;
                                                padding-top: 5rem;
                                            }
                                            h3 {
                                                @include subtitle;
                                                background: transparent;
                                                border-right: none;
                                                padding: 0;
                                                padding-top: 5px;
                                                margin-bottom: 2rem;
                                            }
                                            h6 {
                                                color: $grey3;
                                                font-size: $fs-base;
                                                font-weight: 400 !important;
                                                font-family: 'Roboto';
                                                margin-bottom: 2rem;
                                                line-height: 120%;
                                            }
                                        }
                                        .pent-sesion-1 {
                                            background-image: url(../../../base/img/sesion1.svg);
                                            @media (max-width: 768px) {
                                                margin-top: 0;
                                            }
                                        }
                                        .pent-sesion-2 {
                                            background-image: url(../../../base/img/sesion2.svg);
                                        }
                                        .pent-sesion-3 {
                                            background-image: url(../../../base/img/sesion3.svg);
                                        }
                                        .pent-sesion-4 {
                                            background-image: url(../../../base/img/sesion4.svg);
                                        }
                                        .pent-sesion-5 {
                                            background-image: url(../../../base/img/sesion5.svg);
                                        }
                                        .pent-sesion-6 {
                                            background-image: url(../../../base/img/sesion6.svg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* MODULOS: EXCLUSIVO CON EDICIÓN DESACTIVADA */

body:not(.editing) {
    ul.section {
        li.activity {
            .activityiconcontainer {
                display: none;
            }
            .media-body {
                .text-uppercase {
                    display: none;
                }
            }
            a {
                color: $primary;
                &:hover {
                    color: $grey3 !important;
                    text-decoration: none !important;
                }
                .instancename {
                    background-image: url(../../../base/img/punto-verde.svg);
                    padding-left: 70px;
                    background-size: 15px auto;
                    background-position: left 20px center;
                    background-repeat: no-repeat;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: block;
                    font-size: $fs-base;
                    font-weight: 500;
                }
            }
        }
    }
}


/* PAGINAS - ACTIVIDAD */

body:not(.home) {
    #page-content {
        #region-main-box {
            #region-main {
                h2 {
                    display: none;
                }
                div[role="main"] {
                    .box.py-3.generalbox.center.clearfix {
                        .no-overflow {
                            .page-actividad {
                                img {
                                    margin: 3rem 0;
                                }
                                a {
                                    text-decoration-style: solid;
                                    text-decoration-color: $primary;
                                    text-decoration-thickness: .10em;
                                    text-underline-offset: .15em;
                                    color: $primary;
                                    font-family: 'Roboto';
                                    font-weight: bold;
                                    &:hover {
                                        color: $grey3;
                                        text-decoration-color: $grey3;
                                    }
                                }
                                a.volver {
                                    color: $primary;
                                    text-decoration: none;
                                    font-weight: 400;
                                    &:hover {
                                        color: $grey3;
                                        text-decoration: none;
                                    }
                                }
                                h1 {
                                    @include title;
                                    margin-bottom: 3rem;
                                }
                                h3 {
                                    @include subtitle;
                                    border-bottom: 0;
                                }
                                ul {
                                    @include body;
                                    li::marker {
                                        color: $primary;
                                        font-size: 1.5rem;
                                    }
                                }
                                .momento {
                                    background-color: #fff;
                                    background-repeat: no-repeat;
                                    background-size: 50px auto;
                                    background-position: left 2.5rem top 3.5rem;
                                    padding: 4rem 2.5rem 4rem 8rem;
                                    /* box-shadow: 0px 0px 10px 0px #ccc; */
                                    text-align: left;
                                    border: 1px solid $grey2;
                                    margin: 40px 0;
                                    @media (max-width: 576px) {
                                        padding: 8rem 4rem 4rem 4rem;
                                    }
                                    h3 {
                                        margin-bottom: 2rem;
                                    }
                                }
                                .mom-1 {
                                    background-image: url(../../../base/img/sesion1.svg);
                                }
                                .mom-2 {
                                    background-image: url(../../../base/img/sesion2.svg);
                                }
                                .mom-3 {
                                    background-image: url(../../../base/img/sesion3.svg);
                                }
                                .mom-4 {
                                    background-image: url(../../../base/img/sesion4.svg);
                                }
                                .mom-5 {
                                    background-image: url(../../../base/img/sesion5.svg);
                                }
                                .mom-6 {
                                    background-image: url(../../../base/img/sesion6.svg);
                                }
                                .act-importante {
                                    background-color: $accent;
                                    margin-left: 0 !important;
                                    margin-right: 0 !important;
                                    padding: 2.5rem;
                                    line-height: 1.4;
                                }
                                .destacado {
                                    background-color: $grey1;
                                    /* margin: initial;
                                    margin-left: 0 !important;
                                    margin-right: 0 !important; */
                                    padding: 2.5rem !important;
                                    margin-bottom: 20px;
                                    box-shadow: none !important;
                                    //line-height: initial;
                                }
                            }
                        }
                    }
                    .modified {
                        display: none;
                    }
                }
            }
        }
    }
}