@use '../../../base/styles/general';

/* HOJA DE RECURSOS */


/* Oculto buscador avanzado y boton añadir entrada - con edición desactivada */

.cmid-2975771:not(.editing) {
    div[role="main"] {
        hr {
            display: none;
        }
        .datapreferences {
            #sticky-footer {
                .navitem {
                    a {
                        display: none;
                    }
                }
            }
            hr {
                display: none;
            }
            form#options {
                display: none;
            }
        }
    }
}


/* Le pongo los estilos con mixin */

.cmid-2975771 {
    @include general.hoja-recursos;
}


/* BBDD - VALS CON CHATGPT - MODULO I */

.cmid-2978019 {
    @include general.bbdd-1col;
}