@use '../../../base/styles/general';

/* HOJA DE RECURSOS */


/* Oculto buscador avanzado - con edición desactivada */

.cmid-2975439:not(.editing) {
    div[role="main"] {
        hr {
            display: none;
        }
        .datapreferences {
            hr {
                display: none;
            }
            form#options {
                display: none;
            }
        }
    }
}


/* Le pongo los estilos con mixin */

.cmid-2975439 {
    @include general.hoja-recursos;
}